.header {
    grid-area: h;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    width: 100%;
    left: 0;
    box-shadow: 0 0 5px -1px rgba(34, 60, 80, 0.81);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formWrapper {
    padding: 5px;
    margin-right: 60px;
}

.formWrapper input {
    width: 162px;
    height: 20px;
    padding: 8px 12px 10px 12px;
    border-radius: 10px;
    border: #afafaf solid 1px;
    margin-right: 10px;
}

.formWrapper input:hover {
    border: black solid 1px;
}

.formWrapper a {
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #1b74e4;
    color: white;
}


.formWrapper a:hover {
    background-color: #1459b7
}

.formWrapper a:active {
    background-color: #1b74e4;
}

.header img {
    margin-left: 60px;
    padding: 5px;
    height: 60px;
    border-radius: 50%;
}