.navBar {
    grid-area: n;
    background-color: #397130;
    border-radius: 5px;
}

.item {
    color: white;
    margin: 20px;
    font-size: 20px;
}

.item a {
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 5px 15px;
}

.item a.active {
    color: gold;
    border: 1px solid rgba(217, 204, 191, 0.44);
}

.item:last-child {
    margin-top: 40px;
}