.app-wrapper {
    display: grid;
    grid-template-areas:
   "h h"
   "n c";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;
    margin: 0 auto;
    width: 1200px;
}

.app-wrapperContent {
    width: 100%;
    border-radius: 5px;
    grid-area: c;
    background-color: rgba(206, 200, 200, 0.93);
}