html, body {
    height: 100%;
    background-color: #f0f2f5;
}

.app-wrapper {
    display: grid;
    grid-template-areas:
   "h h"
   "n c";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}

.app-wrapperContent {
    width: 100%;
    min-height: 100vh;
    border-radius: 5px;
    grid-area: c;
}